nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(35deg, teal 50%, black 90%);
  color: white;
  padding: 0 20px;
}

nav h1 {
  background: #000;
  padding: 10px;
  border-radius: 12px;
}

nav button {
  margin: 5px;
  background: none;
  border: none;
  color: white;
  font-size: 1.1rem;
  border-bottom: 4px solid white;
  border-radius: 20%;
}

nav button:hover {
  cursor: pointer;
  color: yellow;
  border-bottom: 4px solid yellow;
}